
Santander Customer Transaction Prediction/.ipynb_checkpoints/customer-transaction-prediction-checkpoint.ipynb
Aerial Cactus Identification/.ipynb_checkpoints/aerial-cactus-identification-using-cnn-checkpoint.ipynb
